/* ------------ Общие параметры: ------------ */
body {
  margin: 0;
  padding: 10px;
  background-color: #f6f8f9;
}

a {
  font-size: 2em;
  text-decoration: none;
  line-height: 4em;
  padding: 5px;
  border: 2px solid black;
  background-color: aquamarine;
}

a:nth-child(1n + 2) {
  margin-top: 15px;
}

a:hover {
  background-color:chartreuse;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-return {
  margin-top: 2em;
  font-size: 2em;
  padding: 15px;
  background-color: aquamarine;
  border-radius: 50%;
}

/* ------------ CSS для задачи 1: ------------ */
:root {
  --cell-size: 120px;
}

.hole-game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.hole {
  width: var(--cell-size);
  height: var(--cell-size);
  background: gray;
  border-radius: 50%;
}

.hole_has-mole {
  background-image: url('../img/goblin.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: gray;
  cursor: url('../img/1.png') 15 15, pointer;
}

.strike {
  background-image: url('../img/5-4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--cell-size);
  height: var(--cell-size);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.popup-active {
  display: flex;
}

.popup-form {
  background-color: lightgreen;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.btn-reset {
  font-size: 1em;
  background-color: rgb(222, 245, 118);
  border-radius: 50%;
  margin: 30px 60px 0px;
}


/* ------------ CSS для задачи 2: ------------ */
.content-window {
  background-color: rgb(59 250 239);
  min-width: 300px;
  max-width: 400px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5%;
}

.tasks__form {
  display: flex;
  flex-direction: column;
}

.tasks__form__input {
  flex-grow: 1;
  padding: 5px;
}

.error {
  color: red;
  font-size: 1em;
  font-weight: 700;
}

label {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;

  border: 1px solid black;
  border-radius: 15px;
  position: relative;
}

span::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../img/check.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  right: 5px;
  margin-top: -15px;
}

.task__checkbox:checked ~ span::after {
  background-image: url('../img/check2.png');
}

.task__checkbox {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
}

span {
  padding: 10px 40px 10px 15px;
  overflow-wrap: anywhere;
}
